-r requirements_base.txt
boto3-stubs
botocore
coverage
moto[cognitoidp]
mypy
pandas-stubs
psycopg[binary]
py-html-checker
pytest
pytest-mock
pytest-random-order
reportlab-stubs
sqlalchemy2-stubs
starlette[full]
types-requests
